<div class="navbar">
  <a href="/" class="nav-logo">
    <img src="/assets/logo.png" alt="ASK Logo">
  </a>

  <a href="/views/validation.html">Validering</a>

  <div class="dropdown">
    <button class="dropbtn">
      Analyse <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/views/scatter.html">Digitalisering/Visninger</a>
      <a href="/views/analyse/arkiv.html">Arkivoversikt</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">
      Hylleplasseringer <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/views/location.html">Kart</a>
    </div>
  </div>

  <a href="/views/status.html">Driftsstatus</a>
</div>
